:root {
    font-size: 62.5%;
}

html, body, * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    height: 100vh;
    width: 100%;
    max-width: 100vw;
    max-height: 100vh;
    /* border: solid #fff; */
    font-family: 'Press Start 2P', monospace;
    color: #fff;
    position: relative;
    overflow: hidden;
    background: linear-gradient(270deg, #000, #111, #000, #111);
    background-size: 400% 400%; 
    animation: movingGradient 25s linear infinite;
    transition: .5s ease-in-out;
}

.start-game {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    visibility: visible;
    transition: opacity .5s ease-in-out;
    position: absolute;
    inset: 0;
}

.volume-control {
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: pointer;
    font-size: 24px; 
    z-index: 1000;
}

.start-game h1 {
    cursor: pointer;
    padding: 2.5rem;
    border: 2px solid #fff;
    border-radius: 2rem;
    transition: .2s ease-in-out;
    font-size: 4rem;
}

.start-game h1:hover {
    color: #000;
    background-color: #fff;
}

.title {
    height: 100%;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: rotate(0);
    transition: opacity 1s ease-in-out, transform .3s ease-in-out;
    opacity: 0;
    visibility: hidden;
}

.title h1:hover .title {
    transform: rotate(-5deg); /* Slight rotation on hover */
    transition: transform 0.3s ease;
}

.title h1 {
    font-size: 9rem;
    text-transform: uppercase;
}

.title p {
    font-size: 1.5rem;
    text-transform: uppercase;
    transition: all .3s ease-in-out;
}

.title p span {
    color: rgb(115, 255, 0);
}

.title h1 span, 
.title p {
    transition: opacity .2s ease-in-out;
    opacity: 0;
}

.title h1 span.typewriter, 
.title p.typewriter {
    opacity: 1;
}

.main-menu {
    list-style-type: none;
    font-size: 3rem;
    opacity: 0;
    visibility: hidden;
}

.main-menu li {
    cursor: pointer;
    animation: blinking 1s infinite;
    margin-top: 3rem;
}


.controls {
    position: absolute;
    font-size: 2.4rem;
    bottom: 2rem;
}

.start-canvas {
    visibility: hidden;
    opacity: 0;
}


.game-canvas {
    /* border: 1px solid #fff; */
    display: block;
    width: 100%;
    height: 100%;
    margin: auto;
    position: absolute;
    overflow: hidden;
    inset: 0;
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease-in-out;
}

.visible {
    visibility: visible;
    opacity: 1 ;
}

.play-text-animation {
    animation: playGame 1.5s ease-in-out 0ms infinite;
}

#gameOverScreen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    font-size: 2em;
    text-align: center;
}

#gameOverScreen h1 {
    font-size: 5rem;
    color: red;
}
#gameOverScreen p {
    font-size: 3rem;
}

#restartButton {
    cursor: pointer;
    padding: 2.5rem;
    border: none;
    background: transparent;
    border-radius: 2rem;
    animation: blinking 1s infinite;
    transition: .2s ease-in-out;
    font-size: 2rem;
    font-family: 'Press Start 2P', monospace;
}

@keyframes playGame {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes movingGradient {
    0% { background-position: 0% 50%; }
    100% { background-position: 100% 50%; }
}

@keyframes blinking {
    0%, 100% { color: rgba(115, 255, 0, 1); }
    50% { color: rgba(141, 211, 83, 0.418) }
}